In [2]:
import pandas as pd

In [5]:
#  各项信息与生还的几率关系
file=pd.read_csv('titanic.txt')
print(file.shape)
#file.head()
file.info()
#file.describe()

(1313, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 11 columns):
row.names    1313 non-null int64
pclass       1313 non-null object
survived     1313 non-null int64
name         1313 non-null object
age          633 non-null float64
embarked     821 non-null object
home.dest    754 non-null object
room         77 non-null object
ticket       69 non-null object
boat         347 non-null object
sex          1313 non-null object
dtypes: float64(1), int64(2), object(8)
memory usage: 112.9+ KB

In [19]:
#分离数据特征与预测目标
y=file['survived']
#根据判断来删除几个无关的列
#X=file.drop(['row.name','name','ticket','home.dest','embarked'],axis=0)
X=file.drop(['row.names','name','survived','ticket','home.dest','embarked'],axis=1)
print(X.shape)
X

(1313, 5)

     pclass      age     room   boat     sex
0       1st  29.0000      B-5      2  female
1       1st   2.0000      C26    NaN  female
2       1st  30.0000      C26  (135)    male
3       1st  25.0000      C26    NaN  female
4       1st   0.9167      C22     11    male
5       1st  47.0000     E-12      3    male
6       1st  63.0000      D-7     10  female
7       1st  39.0000     A-36    NaN    male
8       1st  58.0000    C-101      2  female
9       1st  71.0000      NaN   (22)    male
10      1st  47.0000      NaN  (124)    male
11      1st  19.0000      NaN      4  female
12      1st      NaN     B-35      9  female
13      1st      NaN     A-23      B    male
14      1st      NaN      NaN    NaN    male
15      1st  50.0000  B-58/60      6  female
16      1st  24.0000  B-58/60    NaN    male
17      1st  36.0000      C-6    NaN    male
18      1st  37.0000     D-35      5    male
19      1st  47.0000     D-35      5  female
20      1st  26.0000    C-148      5    male
21      1st  25.0000      NaN  (148)    male
22      1st  25.0000     B-49      7    male
23      1st  19.0000     B-49      7  female
24      1st  28.0000      NaN      D    male
25      1st  45.0000      NaN  (241)    male
26      1st  39.0000     A-31      7    male
27      1st  30.0000      C-7      8  female
28      1st  58.0000    C-103      8  female
29      1st      NaN   D-21/2    NaN    male
...     ...      ...      ...    ...     ...
1283    3rd      NaN      NaN    NaN  female
1284    3rd      NaN      NaN    NaN    male
1285    3rd      NaN      NaN    NaN    male
1286    3rd      NaN      NaN    NaN    male
1287    3rd      NaN      NaN    NaN    male
1288    3rd      NaN      NaN    NaN    male
1289    3rd      NaN      NaN    NaN    male
1290    3rd      NaN      NaN    NaN    male
1291    3rd      NaN      NaN    NaN    male
1292    3rd      NaN      NaN    NaN    male
1293    3rd      NaN      NaN    NaN  female
1294    3rd      NaN      NaN    NaN    male
1295    3rd      NaN      NaN    NaN    male
1296    3rd      NaN      NaN    NaN    male
1297    3rd      NaN      NaN    NaN    male
1298    3rd      NaN      NaN    NaN    male
1299    3rd      NaN      NaN    NaN    male
1300    3rd      NaN      NaN    NaN    male
1301    3rd      NaN      NaN    NaN    male
1302    3rd      NaN      NaN    NaN    male
1303    3rd      NaN      NaN    NaN    male
1304    3rd      NaN      NaN    NaN  female
1305    3rd      NaN      NaN    NaN    male
1306    3rd      NaN      NaN    NaN  female
1307    3rd      NaN      NaN    NaN  female
1308    3rd      NaN      NaN    NaN    male
1309    3rd      NaN      NaN    NaN    male
1310    3rd      NaN      NaN    NaN    male
1311    3rd      NaN      NaN    NaN  female
1312    3rd      NaN      NaN    NaN    male

[1313 rows x 5 columns]

In [20]:
#对对缺失数据进行填充
X['age'].fillna(X['age'].mean(),inplace=True)  # inplace=True
X.fillna('UNKNOWN',inplace=True)
X

     pclass        age     room     boat     sex
0       1st  29.000000      B-5        2  female
1       1st   2.000000      C26  UNKNOWN  female
2       1st  30.000000      C26    (135)    male
3       1st  25.000000      C26  UNKNOWN  female
4       1st   0.916700      C22       11    male
5       1st  47.000000     E-12        3    male
6       1st  63.000000      D-7       10  female
7       1st  39.000000     A-36  UNKNOWN    male
8       1st  58.000000    C-101        2  female
9       1st  71.000000  UNKNOWN     (22)    male
10      1st  47.000000  UNKNOWN    (124)    male
11      1st  19.000000  UNKNOWN        4  female
12      1st  31.194181     B-35        9  female
13      1st  31.194181     A-23        B    male
14      1st  31.194181  UNKNOWN  UNKNOWN    male
15      1st  50.000000  B-58/60        6  female
16      1st  24.000000  B-58/60  UNKNOWN    male
17      1st  36.000000      C-6  UNKNOWN    male
18      1st  37.000000     D-35        5    male
19      1st  47.000000     D-35        5  female
20      1st  26.000000    C-148        5    male
21      1st  25.000000  UNKNOWN    (148)    male
22      1st  25.000000     B-49        7    male
23      1st  19.000000     B-49        7  female
24      1st  28.000000  UNKNOWN        D    male
25      1st  45.000000  UNKNOWN    (241)    male
26      1st  39.000000     A-31        7    male
27      1st  30.000000      C-7        8  female
28      1st  58.000000    C-103        8  female
29      1st  31.194181   D-21/2  UNKNOWN    male
...     ...        ...      ...      ...     ...
1283    3rd  31.194181  UNKNOWN  UNKNOWN  female
1284    3rd  31.194181  UNKNOWN  UNKNOWN    male
1285    3rd  31.194181  UNKNOWN  UNKNOWN    male
1286    3rd  31.194181  UNKNOWN  UNKNOWN    male
1287    3rd  31.194181  UNKNOWN  UNKNOWN    male
1288    3rd  31.194181  UNKNOWN  UNKNOWN    male
1289    3rd  31.194181  UNKNOWN  UNKNOWN    male
1290    3rd  31.194181  UNKNOWN  UNKNOWN    male
1291    3rd  31.194181  UNKNOWN  UNKNOWN    male
1292    3rd  31.194181  UNKNOWN  UNKNOWN    male
1293    3rd  31.194181  UNKNOWN  UNKNOWN  female
1294    3rd  31.194181  UNKNOWN  UNKNOWN    male
1295    3rd  31.194181  UNKNOWN  UNKNOWN    male
1296    3rd  31.194181  UNKNOWN  UNKNOWN    male
1297    3rd  31.194181  UNKNOWN  UNKNOWN    male
1298    3rd  31.194181  UNKNOWN  UNKNOWN    male
1299    3rd  31.194181  UNKNOWN  UNKNOWN    male
1300    3rd  31.194181  UNKNOWN  UNKNOWN    male
1301    3rd  31.194181  UNKNOWN  UNKNOWN    male
1302    3rd  31.194181  UNKNOWN  UNKNOWN    male
1303    3rd  31.194181  UNKNOWN  UNKNOWN    male
1304    3rd  31.194181  UNKNOWN  UNKNOWN  female
1305    3rd  31.194181  UNKNOWN  UNKNOWN    male
1306    3rd  31.194181  UNKNOWN  UNKNOWN  female
1307    3rd  31.194181  UNKNOWN  UNKNOWN  female
1308    3rd  31.194181  UNKNOWN  UNKNOWN    male
1309    3rd  31.194181  UNKNOWN  UNKNOWN    male
1310    3rd  31.194181  UNKNOWN  UNKNOWN    male
1311    3rd  31.194181  UNKNOWN  UNKNOWN  female
1312    3rd  31.194181  UNKNOWN  UNKNOWN    male

[1313 rows x 5 columns]

In [21]:
# sklearn导入特征筛选器
from sklearn import feature_selection
#筛选前 20% 的特征  使用相同的决策树模型进行预测  并且评估性能
fs=feature_selection.SelectPercentile(feature_selection.chi2,percentile=80)
X_train_fs=fs.fit_transform(X,y)
X_train_fs

ValueError: could not convert string to float: 'male'

In [22]:
#为什么错误 ？  情分析你现在的数据
X.describe()

               age
count  1313.000000
mean     31.194181
std      10.235540
min       0.166700
25%      30.000000
50%      31.194181
75%      31.194181
max      71.000000

In [23]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 5 columns):
pclass    1313 non-null object
age       1313 non-null float64
room      1313 non-null object
boat      1313 non-null object
sex       1313 non-null object
dtypes: float64(1), object(4)
memory usage: 51.4+ KB

In [24]:
print(X['pclass'].unique())
print(X['age'].unique())
print(X['room'].unique())
print(X['sex'].unique())
print(X['boat'].unique())

['1st' '2nd' '3rd']
[ 29.           2.          30.          25.           0.9167      47.          63.
  39.          58.          71.          19.          31.19418104  50.          24.
  36.          37.          26.          28.          45.          22.          41.
  48.          44.          59.          60.          53.          33.          14.
  11.          49.          46.          27.          31.          64.          55.
  70.          69.          38.          17.           4.          23.          35.
  54.          21.          52.          16.          51.          42.          40.
  15.          65.          18.          56.          43.          61.          13.
  34.           6.          57.          32.          62.          67.          20.
   1.          12.           0.8333       8.           7.           3.           9.
   5.           0.3333       0.1667      10.        ]
['B-5' 'C26' 'C22' 'E-12' 'D-7' 'A-36' 'C-101' 'UNKNOWN' 'B-35' 'A-23'
 'B-58/60' 'C-6' 'D-35' 'C-148' 'B-49' 'A-31' 'C-7' 'C-103' 'D-21/2'
 'B-51/3/5' 'C-87' 'C-85' 'C-51' 'C-125' 'C-91' 'B-82/4' 'C-83' 'B-18'
 'D-?' 'C-93' 'C-49' 'B-52/4/6' 'C-104' 'B-3' 'A-11' 'C-89' 'C-126' 'C-97'
 'C-99' 'C-22' 'C-45' 'C-55 (?C-95)' 'B-102' 'B-86' 'B-?' 'C-62' 'D-56'
 'E-?' 'F-33' 'E-101' 'E77' 'D-38' '2131' 'F-?']
['female' 'male']
['2' 'UNKNOWN' '(135)' '11' '3' '10' '(22)' '(124)' '4' '9' 'B' '6' '5'
 '(148)' '7' 'D' '(241)' '8' '15' '(208)' '5/7' 'C' '(172)' '14' '(269)'
 'A' '13' '(62)' '1' '(133)' '(275)' '(147)' '(307)' '(38)' '(80)' '(258)'
 '(126)' '(292)' '(175)' '(249)' '(230)' '(122)' '(263)' '(234)' '(189)'
 '(166)' '(207)' '(109)' '(96)' '(46)' '(245)' '(169)' '(110)' '(45)'
 '(232)' '12' '(174)' '(97)' '(18)' '(130)' '(17)' '(295)' '(286)' '(236)'
 '(322)' '(297)' '(305)' '(19)' '(75)' '(35)' '(256)' '(149)' '(283)'
 '(165)' '14/D' '(108)' '(121)' '(52)' '(209)' '14/12' '(271)' '(43)'
 '(15)' '(101)' '(287)' '(81)' '16' '(140)' '(293)' '(294)' '(190)' '(72)'
 '(103)' '(79)' '(259)' '(260)' '(89)' '(142)' '(299)' '(171)']

In [25]:
#类别型特征向量化
#     feature_extraction   特征提取
#     feature_selection    特征选择
from sklearn.feature_extraction import DictVectorizer
vec=DictVectorizer(sparse=False)
X_dict=vec.fit_transform(X.to_dict(orient='record'))
print(X_dict.shape)
print(X_dict[0])
print(X_dict)

(1313, 160)
[ 29.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   1.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   1.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   1.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   1.   0.]
[[ 29.           0.           0.         ...,   0.           1.           0.        ]
 [  2.           0.           0.         ...,   0.           1.           0.        ]
 [ 30.           0.           0.         ...,   0.           0.           1.        ]
 ...,
 [ 31.19418104   0.           0.         ...,   1.           0.           1.        ]
 [ 31.19418104   0.           0.         ...,   1.           1.           0.        ]
 [ 31.19418104   0.           0.         ...,   1.           0.           1.        ]]

In [26]:
# 从 sklearn 导入特征选择器
from sklearn import feature_extraction
#筛选前 20% 的特征 使用相同的配置的决策树模型进行预测  并且评估性能
fs=feature_selection.SelectPercentile(feature_selection.chi2,percentile=20)
X_train_fs=fs.fit_transform(X_dict,y)
print(X_train_fs.shape)
print(X_train_fs)

(1313, 32)
[[ 29.           0.           0.         ...,   0.           1.           0.        ]
 [  2.           0.           0.         ...,   0.           1.           0.        ]
 [ 30.           0.           0.         ...,   0.           0.           1.        ]
 ...,
 [ 31.19418104   0.           0.         ...,   0.           0.           1.        ]
 [ 31.19418104   0.           0.         ...,   0.           1.           0.        ]
 [ 31.19418104   0.           0.         ...,   0.           0.           1.        ]]

In [27]:
print("总共的特征",len(fs.scores_))
print('对每列的打分:',fs.scores_)

总共的特征 160
对每列的打分: [  14.93261028    0.51967593    0.51967593    0.51967593    0.51967593
    0.51967593    0.51967593    0.51967593    0.51967593    0.51967593
    0.51967593    0.51967593    0.51967593    0.51967593    0.51967593
    0.51967593    0.51967593    0.51967593    0.51967593    0.51967593
    0.51967593    0.51967593    0.51967593    0.51967593    0.51967593
    0.51967593    0.51967593    0.51967593    0.51967593    0.51967593
    0.51967593    0.51967593    0.51967593    0.51967593    0.51967593
    0.51967593    0.51967593    0.51967593    0.51967593    0.51967593
    0.51967593    0.51967593    0.51967593    0.51967593    0.51967593
    0.51967593    0.51967593    0.51967593    0.51967593    0.51967593
    0.51967593    0.51967593    0.51967593    0.51967593    0.51967593
    0.51967593    0.51967593    0.51967593    0.51967593    0.51967593
    0.51967593    0.51967593    0.51967593    0.51967593    0.51967593
    0.51967593    0.51967593    0.51967593    0.51967593    0.51967593
    0.51967593    0.51967593    0.51967593    0.51967593    0.51967593
    0.51967593    0.51967593    7.69710468   15.39420935   32.71269488
   25.0155902    30.78841871   18.35209175    3.84855234    1.92427617
   11.54565702    3.84855234   21.16703786   36.56124722   46.27149505
   51.95545657    7.69710468   32.71269488   42.33407572   34.63697105
   28.86414254    9.62138085   11.54565702   11.54565702   19.24276169
  102.59680024   94.81767116    8.5792661    70.40996454    0.51967593
    1.92427617    1.92427617    1.92427617    0.51967593    0.51967593
    3.84855234    1.92427617    1.92427617    3.84855234    3.84855234
    3.84855234    1.92427617    0.22197605    0.51967593    0.51967593
    0.51967593    5.77282851    1.92427617    1.92427617    3.84855234
    3.84855234    1.92427617    1.92427617    1.92427617    0.51967593
    1.92427617    0.51967593    0.51967593    0.51967593    3.84855234
    0.22197605    0.22197605    0.22197605    0.51967593    1.92427617
    3.84855234    1.92427617    1.92427617    3.84855234    1.55902778
    0.51967593    3.84855234    1.92427617    1.92427617    1.92427617
    3.84855234    5.77282851    1.92427617    1.92427617    0.51967593
    2.95954036    0.51967593    2.95506356  212.14673436  115.55757413]